<div class="carousel-container">
      <section class="carousel-section section-1"style="background-image: url('assets/welcome.jpg')">
        <div class="welcome-content" >
          <h1>WELCOME.</h1>
        </div>
      </section>
      <section class="carousel-section section-2" style="background-image: url('/assets/faded.jpg');">
            <div class="hero-content">
              <div class="text-container">
                <h6 class="subtitle">Course Evaluation Software</h6>
                <h1 class="title">
                  The course evaluation software trusted by the world's leading academic institutions
                </h1>
                <p class="description">
                  Improve the student and faculty experience with course evaluation software trusted by 8,800 schools.
                  Identify gaps in the learning experience and understand which actions have the biggest impact on experience,
                  engagement, and performance.
                </p>
                <button class="request-btn">Request Demo</button>
              </div>
            </div>
      </section>
    </div>
  
  